[Unit]
Description=Libvirt evdev input service
Before=libvirtd.service

[Service]
ExecStart=/opt/usb-libvirt-evdev-hotplug/libvirt-evdev.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify


[Install]
WantedBy=multi-user.target
